<!--//PF/src/views/admin.handlebars-->
<div>
    <!-- PF/src/views/dashboard-admin.handlebars -->
<h1>Panel de Administraci칩n</h1>
<p>Bienvenido, {{user.name}} </p>

<hr>

<ul>
    <li>
        <h3>Crear Producto</h3>
        <p>Agreg치 un nuevo producto al cat치logo.</p>
        <a href="/products/new">Ir</a>
    </li>

    <li>
        <h3>游 Ver Productos</h3>
        <p>Revis치 el listado completo.</p>
        <a href="/products">Ir</a>
    </li>

    <li>
        <h3>Usuarios</h3>
        <p>Ver o eliminar usuarios registrados.</p>
        <a href="/admin/users">Ir</a>
    </li>

    <li>
        <h3>Cerrar sesi칩n</h3>
        <p>Finalizar sesi칩n actual.</p>
        <a href="/api/sessions/logout">Logout</a>
    </li>
</ul>

</div>
<script src="/js/admin.js"></script>