<!--//PF/src/views/index.handlebars-->
<div>
    Bienvenido a la App
     <a href="/api/usersViews/login"><button>Login</button></a>
    <a href="/api/usersViews/register"><button>Registrarse</button></a>
</div>